<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Uploads</title>
</head>
<body>
    <div class="container">
        <h1>My Uploaded Images</h1>
        <ul>
            {% for data in user_data %}
                <li>
                    Hash: {{ data[0] }}<br>
                    Date Taken: {{ data[1] | default('Unknown') }}<br>
                    Camera Model: {{ data[2] | default('Unknown') }}
                </li>
            {% else %}
                <li>No images uploaded yet.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
